* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-size: 0.3125vw;
}

body {
    background-color: #eee;
}

.header {
    height: 60rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header img {
    width: 36rem;
    height: 36rem;
    margin-left: 15rem;
    margin-right: 10rem;
}

.header .content {
    flex: 1;
}

.header .content h2 {
    font-weight: normal;
    font-size: 14rem;
}

.header .content p {
    font-size: 12rem;
    color: #a2a2a2;
}

.header .btn {
    width: 81rem;
    height: 28rem;
    line-height: 28rem;
    font-size: 12rem;
    text-align: center;
    color: #fff;
    background-color: #5399ef;
    border-radius: 14rem;
    margin-right: 15rem;
}

.banner {
    background: url("../img/banner.jpg") no-repeat center top;
    background-size: cover;
    height: 137rem;
    position: relative;
    margin-bottom: 40rem;
}

.banner .search {
    position: absolute;
    left: 12rem;
    top: 8rem;
    right: 51rem;
    display: flex;
}

.banner .search input {
    flex: 1;
    height: 28rem;
    line-height: 28rem;
    border-radius: 14rem;
    padding-left: 40rem;
    font-size: 12rem;
    border: none;
}

.banner .search .icon {
    position: absolute;
    left: 16rem;
    top: 7rem;
    width: 16rem;
    height: 16rem;
    background: url("../img/search.png") no-repeat;
    background-size: cover;
}

.banner .user {
    position: absolute;
    /* background-color: pink; */
    right: 14rem;
    height: 6rem;
    font-size: 12rem;
    color: #fff;
    text-align: center;
}

.banner .user span {
    display: inline-block;
    margin-top: 6rem;
    width: 21rem;
    height: 21rem;
    background: url("../img/my.png") no-repeat;
    background-size: cover;
}

.banner .list {
    width: 296rem;
    height: 66rem;
    position: absolute;
    left: 12rem;
    bottom: -33rem;
    background-color: #fff;
    border-radius: 7rem;
    display: flex;
    font-size: 12rem;
    align-content: center;
    text-align: center;
}

.banner .list li {
    flex: 1;
}

.banner .list span {
    width: 40rem;
    height: 40rem;
    background: url("../img/tabs.png") no-repeat;
    background-size: 40rem 200rem;
    display: inline-block;
}

.banner .list li:nth-child(2) span {
    background-position: 0 -40rem;
}

.banner .list li:nth-child(3) span {
    background-position: 0 -80rem;
}

.banner .list li:nth-child(4) span {
    background-position: 0 -120rem;
}

.banner .list li:nth-child(5) span {
    background-position: 0 -160rem;
}

.nav {
    width: 295rem;
    margin: 0 auto;
    border-radius: 10rem;
    overflow: hidden;
}

.nav .row {
    display: flex;
    width: 295rem;
    height: 55rem;
    font-size: 12rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.nav .row .nav-item {
    width: 67rem;
    height: 55rem;
    line-height: 55rem;
    margin-right: 1rem;
    background: url("../img/icon.png") no-repeat;
    background-size: 104rem 327.5rem;
    background-position: 100rem 100rem;
}

.nav .row:first-child .nav-item:last-child {
    width: 135rem;
}

.nav .row .nav-item:first-child {
    text-indent: 12rem;
    text-align: left;
    width: 91rem;
}

.nav .row:first-child .nav-item {
    background-color: #e96c5c;
}

.nav .row:nth-child(2) .nav-item {
    background-color: #64a5e7;
}

.nav .row:nth-child(3) .nav-item {
    background-color: #72c788;
}

.nav .row:first-child .nav-item:first-child {
    background-position: 44rem -112rem;
}

.nav .row:nth-child(2) .nav-item:first-child {
    background-position: 44rem -275rem;
}

.nav .row:nth-child(3) .nav-item:first-child {
    background-position: 44rem -170rem;
}

.menu {
    width: 295rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.menu .menu-item {
    width: 59rem;
    height: 46rem;
    text-align: center;
    font-size: 11rem;
    margin-bottom: 15rem;
}

.menu .menu-item span {
    display: inline-block;
    width: 28rem;
    height: 28rem;
    background: url("../img/icons.png") no-repeat;
    background-size: 28rem 280rem;
}

.menu .menu-item:nth-child(2) span {
    background-position: 0 -28rem;
}

.menu .menu-item:nth-child(3) span {
    background-position: 0 -56rem;
}

.menu .menu-item:nth-child(4) span {
    background-position: 0 -84rem;
}

.menu .menu-item:nth-child(5) span {
    background-position: 0 -112rem;
}

.menu .menu-item:nth-child(6) span {
    background-position: 0 -140rem;
}

.menu .menu-item:nth-child(7) span {
    background-position: 0 -168rem;
}

.menu .menu-item:nth-child(8) span {
    background-position: 0 -196rem;
}

.menu .menu-item:nth-child(9) span {
    background-position: 0 -224rem;
}

.menu .menu-item:nth-child(10) span {
    background-position: 0 -252rem;
}

.advertisement {
    height: 44rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
}

.advertisement .ad-item1 {
    margin-left: 10rem;
    width: 72.5rem;
    height: 15rem;
    background: url("../img/hot.png") no-repeat;
    background-size: cover;
}

.advertisement .ad-item2 {
    margin-left: 10rem;
    height: 15rem;
    flex: 1;
    background: url("../img/icon-gg@2x.png") no-repeat;
    background-size: 36rem 15rem;
}

.advertisement .ad-item3 {
    width: 110rem;
    height: 20rem;
    line-height: 20rem;
    border-radius: 10rem;
    background-color: pink;
    color: #fff;
    font-size: 12rem;
    text-align: center;
    margin-right: 10rem;
}